body {
    /*background-color: lightblue;*/
    color: white;
}

/*#bgImage{
  background:  transparent url('../img/spiderman.jpg') no-repeat center center;
  background-size: cover;
  top: 0px;
  left: 0px;
}*/